<main class="bg-gray-100 flex items-center justify-center min-h-screen" data-controller="signup">
  <div class="w-full max-w-md bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-bold mb-6 text-center">Sign Up</h2>
    <form data-signup-target="form" data-action="submit->signup#submit">
      <!-- Username Field -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" placeholder="Username" data-signup-target="username" required>
      </div>

      <!-- Email Field -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" name="email" type="email" placeholder="Email" data-signup-target="email" required>
      </div>

      <!-- Password Field -->
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" data-signup-target="password" placeholder="Password">
      </div>

      <!-- Confirm Password Field -->
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="confirm-password">
          Confirm Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password_confirmation" name="password_confirmation" data-signup-target="confirmPassword" type="password" placeholder="Confirm Password">
      </div>

      <!-- Submit Button -->
      <div class="flex items-center justify-between">
        <button class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Sign Up
        </button>
      </div>
    </form>
    <div class="mt-4">
      <button data-action="click->signup#redirectToLogin" class="text-blue-500 hover:underline">Log in</button>
    </div>
  </div>
</main>
